
<!DOCTYPE html>
<html>
<head>
    <link href="assets\css\miestilo.css" rel="stylesheet">
    <link href="assets\css\bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initialscale=1, shrink-to-fit=no">
<title>Ejemplo 2</title>
</head>
<body>
    <nav class="menu">
        <img src="imagenes\logo.webp" style="background-image: image(12);" width="50" height="50" href="https://exa.unne.edu.ar">
        <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="https://exa.unne.edu.ar">Pagina de la UNNE</a></li>
        <li><a href="https://www.google.com.ar" target="_blank">Ante cualquier duda, el <span style="color: brown;"> profe</span> quiere que: </a></li>
        </ul></nav>
<div class="titulo">
    <div style="background-color: gray; text-align: justify;">
        <img src="imagenes\8i23vv.webp" title="Le gusta mi web profesor?" style="position: sticky;">
        <span style="display: grid;">Perdon por no saber diseñar</span>
    </div>
 
    
    <h1>Bienvenidos a Taller de Programación I</h1>
    <p>Hoy sólo práctico de configuración :v</p>
    <p>Esto que esta aca es solo un parrafo bien waton</p>
    </div>
<div class="parrafo">
    <p>Somos una empresa que se dedica a la venta de relojes de mesa y pared con
    diseños únicos e innovadores. Utilizamos materia prima de calidad. Elaboramos
    productos a la medida del cliente. </p>        
</div>
<p>
    texto 
    marron
</p>

<div style="color: blue;">
    <h2> Ejemplo de div y span </h2>
    <p>
     Esto es un párrafo dentro de un div,
    <span style="color: red;"> y esto un span dentro de un
    párrafo.</span>
    </p>
    </div>
</body>
<footer>
    <div>
    Lic. Lucía Salazar – Lic. Yanina Median - Taller de Programación I 3
    TALLER DE PROGRAMACION I
    Año 2023
    2
    Guía de Actividades N° 2
    </div>
</footer>
</html>